<div class="wrapper">
  <div class="container" [ngClass]="{ 'active': isSignUp }">
    <!-- 登入表單 -->
    <div class="form-container sign-in">
      <form (ngSubmit)="login()">
        <h1>登入</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>或使用你的帳號密碼</span>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div class="form-group">
          <input type="text" id="login-account" [(ngModel)]="account" name="account" placeholder="帳號" required />
        </div>
        <div class="form-group">
          <input type="password" id="login-password" [(ngModel)]="password" name="password" placeholder="密碼" required />
        </div>
        <a href="#">忘記密碼？</a>
        <button type="submit">登入</button>
      </form>
    </div>

    <!-- 註冊表單 -->
    <div class="form-container sign-up">
      <form (ngSubmit)="register()">
        <h1>註冊</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div class="form-group">
          <input type="text" id="register-name" [(ngModel)]="user.name" name="name" placeholder="姓名" required />
        </div>
        <div class="form-group">
          <select id="register-gender" [(ngModel)]="user.gender" name="gender" required>
            <option value="" disabled selected>性別</option>
            <option value="男">男</option>
            <option value="女">女</option>
          </select>
        </div>
        <div class="form-group">
          <input type="date" id="register-birthday" [(ngModel)]="user.birthday" name="birthday" placeholder="生日" required />
        </div>
        <div class="form-group">
          <input type="email" id="register-email" [(ngModel)]="user.email" name="email" placeholder="Gmail" required />
        </div>
        <div class="form-group">
          <input type="text" id="register-account" [(ngModel)]="user.account" name="account" placeholder="帳號" required />
        </div>
        <div class="form-group">
          <input type="password" id="register-password" [(ngModel)]="user.password" name="password" placeholder="密碼" required />
        </div>
        <div class="form-group">
          <input type="password" id="register-confirm-password" [(ngModel)]="user.confirmPassword" name="confirmPassword" placeholder="確認密碼" required />
        </div>
        <button type="submit" class="register-btn">註冊</button>
      </form>
    </div>

    <!-- 切換面板 -->
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>歡迎回來！</h1>
          <p>輸入你的帳號密碼以使用所有功能</p>
          <button class="hidden" (click)="toggleForm()">登入</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>你好，朋友！</h1>
          <p>註冊你的個人資料以使用所有功能</p>
          <button class="hidden" (click)="toggleForm()">註冊</button>
        </div>
      </div>
    </div>
  </div>
</div>